* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }
    a{
        color: #fff;
        text-decoration: none;
        transition: 0.3s;
    }
a:hover {
    opacity: 0.7;
}
nav {
    display: flex;
    align-content: center;
     background-color: #381ff800  ;
     height:10vh;
}
.logo {
     height: 30vh;
     margin-left: 60vh;
     margin-top: 30px;
     border: -200px;
     background-color: rgba(0, 0, 255, 0);
     box-sizing: border-box;
}
body{
     border: rgba(85, 0, 255, 0), solid 10px;
    background-image: url(./img/paisagens\ de\ tarde\ original.jpg );
    background-size: cover;
    background-position: center;
    height: 140vh;
    background-repeat: no-repeat ;
}
.butão1{
   margin-top: 15px;
    color: #fff;
    margin-left: 70vw;
flex-direction: row;
padding: 10PX;
border-radius: 15px;
height: 50px;
width: 110px;
border: white solid 1px;
background-color: rgba(0, 0, 0, 0);
cursor: pointer;
transition: all .2s ease;
font-family: 'Michroma', sans-serif;
font-size: 10px;
}
.butão1:hover{
    background-color: rgba(255, 255, 255, 0.343);
}
.butão2{
  margin-top: 15px;  
    color: #fff;
margin-left: 20px;
flex-direction: row;
padding: 10PX;
border-radius: 15px;
height: 50px;
width: 110px;
border: white solid 1px;
background-color: rgba(0, 0, 0, 0);
cursor: pointer;
transition: all .2s ease;
font-family: 'Michroma', sans-serif;
font-size: 10px;
}
.butão2:hover{
    background-color: rgba(255, 255, 255, 0.343);
}
.butão3{
    margin-top: 15px;
    color: #fff;
margin-left: 20px;
flex-direction: row;
padding: 10PX;
border-radius: 15px;
height: 50px;
width: 110px;
border: white solid 1px;
background-color: rgba(0, 0, 0, 0);
cursor: pointer;
transition: all .2s ease;
font-family: 'Michroma', sans-serif;
font-size: 10px;
}
.butão3:hover{
    background-color: rgba(255, 255, 255, 0.343);
}
#airton{
    margin-top: 2%;
     color: rgb(212, 212, 212);
     margin-left: 40%;
 flex-direction: row;
 padding: 10PX;
 border-radius: 40px;
 /* height: 100px;
 width: 250px; */
 border: white solid 1px;
 background-color: rgba(0, 0, 0, 0);
 cursor: pointer;
 transition: all .2s ease;
 padding: 30px 65px;
 font-size: 20px;
 font-family: 'Michroma', sans-serif;

}
 #airton:hover{
     background-color: rgba(255, 255, 255, 0.137);
 }
#guedes{
    background-color: rgba(0, 0, 0, 0.61);
    width: 45vw;
    height: 60vh;
    margin-left: 26%;
    border-radius: 40px;
    text-align: justify ;
    display: none;
    text-indent: 40px;
    border: rgb(240, 248, 255) solid 1px;
    transition: all ;
    transition-duration: 0.2s;
    /* display: block; */
    /* visibility: hidden  ; */
}

.hide{
    display: none;
    transition: all .3s ease;
}
.mobile div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    
}
.mobile{
    /* display: none; */
    cursor: pointer;
}

@media (max-width:600px) {

    /* .lulu{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 52vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    .mobile{
        display: block;
    } */
    .lulu {
        margin-left: 0;
        opacity: 0;
    }
}
body{
    overflow-x: hidden;
}
.lulu{
    transform: translateX(0);
}
#A26{
    background-repeat: no-repeat ;
    background-size: cover;
    background-image: url(./img/airton.jpg);
    background-color: rgba(250, 8, 8, 0.979);
    width: 300px;
    height: 400px;
    margin-left: 038%;
    border-radius: 100px;
    border: #fff solid 2px;
    display: block;
}
p{  
    margin: 9px;
    font-family: 'Viga', sans-serif;
    /* font-family: 'Michroma', sans-serif; */
    color: rgb(240, 248, 255);
    font-size: 24px;
   
}
.int9{
    margin-top: 10%;
    margin-left:24%;
    width: 50%;
    height: 365px;
    background-color: rgba(11, 10, 10, 0.463);
    border-radius: 40px;
    text-align: justify;
    border: #fff solid 1px;
}
h1{
    text-align: center ;
    font-family: 'Viga', sans-serif;
    color: aliceblue;
}
.a7{
    margin: 20px;
    font-family: 'Viga', sans-serif;
    color: aliceblue;
    font-size: 20px;
}
.port9{
    position: absolute;
    left: 12%;
    top: 29%;
    font-size: 200px;
    color: aliceblue;
}
.lulu
{
    position: relative;
    width: 100%;
}
.cont9 {
    margin-top: 8%;
    margin-left: 24%;
    width: 50%;
    height: 350px;
    background-color: rgba(11, 10, 10, 0.221);
    border-radius: 40px;
    text-align: justify;
    border: #fff solid 1px;
    /* position: relative; */
 }
 
 .insta {
    position: absolute;
    top: 45%;
    left: 26%;
    /* background-color: red; */
    cursor: pointer;
 }
 .insta:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
 }
 .link {
    position: absolute;
    top: 45%;
    left: 39%;
    /* background-color: red; */
    cursor: pointer;
 }
 .link:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
 }
 .wpp {
    position: absolute;
    top: 45%;
    left: 52%;
    /* background-color: red; */
    cursor: pointer;
    color: #fff;
 }
 .wpp:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
 }
 .git {
    position: absolute;
    top: 45%;
    left: 63%;
    /* background-color: red; */
    cursor: pointer;
 }
 .git:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
 }
 .con9{
    position: absolute;
    top: 20px;
    margin-top: 2px;
 }
 .h2 {
    margin-left: 200px;
    font-family: 'Viga', sans-serif;
    color: aliceblue;
    font-size: 20px;

     }
